In [20]:
import sys
sys.path.append('D:\github\python')
import pandas as pd
import xlsxwriter
import re
import time
import numpy as np
# from Modul.modulku import praproses as pps
from Cek_typo import cek_typo as ct
from Normalisasi_KBBI import normalisasi_kbbi as nkbi
from modulku import praproses as pps
from modulku import StemNstopW as stm
import re
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)

In [35]:
data = pd.read_excel("data/data_train_B.xlsx")
respon = data['RESPONSE']
label = data['label2']
label = [int(x) for x in label]
respon = [x.lower() for x in respon]
data.head()

   RES_ID  LABEL  label2                                           RESPONSE
0   TRB48    1.0       0  upaya untuk membuat produksi pakaian menjadi l...
1  TRB185    0.0       0  upaya untuk membuat produksi pakaian menjadi l...
2  TRB100    0.0       0  untuk meningkatkan kualitas barang yang memuas...
3   TRB82    0.0       0                     untuk mengurangi penggunan air
4   TRB37    0.0       0  untuk membuat toko tersebut lebih bagus lagi d...

In [36]:
respon_list = list()
ixx = 1
oo = 0
for teks in respon:
    a = tknzr.tokenize(teks)
    a = " ".join(a)
#     a = teks
    a = pps.preprocessing(teks)
    a = pps.removePunc(a)
    a = ct.norm_typo(a)
    a = nkbi.norm_kbbi(a)
    a = stm.stemmer_kata(a)
#     a = stm.stop_word(a)
    a = re.sub(' +', ' ',a)
    a = a.lstrip()
    respon_list.append(a)
    if ixx%10==0:
        #oo+=1
        print(".", end ="")
    if ixx%50==0:
        print(ixx, end="")
    ixx+=1

.....50.....100.....150.....200.....250.....300

In [37]:
dit_ ={
    'label':label,
    'respon':respon_list
}
h = pd.DataFrame.from_dict(dit_)
h.to_excel('data/Data_B_Bersih_lengkap_new.xlsx')
h.head()

   label                                             respon
0      0         upaya buat produksi pakai jadi lebih etika
1      0         upaya buat produksi pakai jadi lebih etika
2      0  tingkat kualitas barang muas konsumen da jadi ...
3      0                                         kurang air
4      0     buat toko sebut lebih bagus dan lebih complete