In [1]:
import sys
sys.path.append('D:\github\python')
import pandas as pd
import xlsxwriter
import re
import time
import numpy as np
import pandas as pd
# from Modul.modulku import praproses as pps
from Cek_typo import cek_typo as ct
from Normalisasi_KBBI import normalisasi_kbbi as nkbi
from modulku import praproses as pps
from modulku import StemNstopW as stm
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)
from essay_scoring.ES import scoring as sc
import json

In [2]:
ct.norm_typo("dpan")

'depan'

In [3]:
data = pd.read_excel("data/data_train_A.xlsx")
res_id = data['RES_ID'].tolist()
respon = data['RESPONSE'].tolist()

label = data['LABEL'].tolist()

data = pd.read_excel("data/data_dev_A.xlsx")
res_id = res_id+data['RES_ID'].tolist()
respon = respon+data['RESPONSE'].tolist()

In [4]:
len(res_id)

483

In [5]:
len(res_id)

483

In [6]:
respon_list = list()
ixx = 1
oo = 0
for teks in respon:
    a = tknzr.tokenize(teks)
    a = " ".join(a)
#     a = teks
    a = pps.preprocessing(teks)
    a = pps.removePunc(a)
    a = ct.norm_typo(a)
    a = nkbi.norm_kbbi(a)
    a = stm.stemmer_kata(a)
#     a = stm.stop_word(a)
    a = re.sub(' +', ' ',a)
    a = a.lstrip()
    respon_list.append(a)
    if ixx%10==0:
        #oo+=1
        print(".", end ="")
    if ixx%50==0:
        print(ixx, end="")
    ixx+=1

.....50.....100.....150.....200.....250.....300.....350.....400.....450...

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(respon_list)
save_ = vectorizer.fit(respon)


kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
new_labels =  kmeans.labels_
y = new_labels
len(y)

483

In [8]:
dit_ ={
    'res_id':res_id[:268],
    'label':label[:268],
    'new_label':y[:268],
    'respon_old':respon[:268],
    'respon':respon_list[:268]
}
h = pd.DataFrame.from_dict(dit_)
# h.to_excel('data/Data_A_Bersih_268.xlsx')
h.to_excel('data/data_Train_A_stemer(TRUE).xlsx') #data_dev_A
h.head()

,res_id,label,new_label,respon_old,respon
0,TRA1,1,1,intetraksi/beradaptasi terhadap lingkungan yan...,interaksi beradaptasi terhadap lingkungan yang...
1,TRA2,0,0,seperti jatuhnya meteor tsunami gempa bumi,seperti jatuhnya meteor tsunami gempa bumi
2,TRA3,0,0,hanya tuhan yang tahu tantangan nya itu apaan,hanya tuhan yang tahu tantangan nya itu apa
3,TRA4,1,1,mereka akan sulit beradaptasi,mereka akan sulit beradaptasi
4,TRA5,1,0,"Tempat tinggal, ekonomi, dan pekerjaan",tempat tinggal ekonomi dan pekerjaan