In [12]:
import sys
sys.path.append('D:\github\python')
import pandas as pd
import xlsxwriter
import re
import time
import numpy as np
# from Modul.modulku import praproses as pps
from Cek_typo import cek_typo as ct
from Normalisasi_KBBI import normalisasi_kbbi as nkbi
from modulku import praproses as pps
from modulku import StemNstopW as stm
import re
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)

In [13]:
data = pd.read_excel("data/TRACK 2 DATA A.xlsx")
respon = data['RESPONSE']
res_id = data['RES_ID'].tolist()
# label = data['LABEL']
# label = [int(x) for x in label]
# respon = [x.lower() for x in respon]
skor1 = data['SKOR 1']
skor2 = data['SKOR 2']
aes = data['AES']

data.head()

,RES_ID,RESPONSE,SKOR 1,SKOR 2,AES
0,TRACK2A1,penggusi iklim adalah orang orang yang terpaks...,1,0.0,0
1,TRACK2A2,dengan sabar menjalani nya.,1,0.0,1
2,TRACK2A3,Orang orang yang terpaksa meninggalkan komunit...,1,0.0,0
3,TRACK2A4,berkenalan dengan orang asing/baru,0,1.0,1
4,TRACK2A5,agar tidak terkena bencana lagi dan terhindar ...,1,0.0,0

In [14]:
respon_list = list()
ixx = 1
oo = 0
for teks in respon:
    a = tknzr.tokenize(teks)
    a = " ".join(a)
#     a = teks
    a = pps.preprocessing(teks)
    a = pps.removePunc(a)
    a = ct.norm_typo(a)
    a = nkbi.norm_kbbi(a)
    a = stm.stemmer_kata(a)
#     a = stm.stop_word(a)
    a = re.sub(' +', ' ',a)
    a = a.lstrip()
    respon_list.append(a)
    if ixx%10==0:
        #oo+=1
        print(".", end ="")
    if ixx%50==0:
        print(ixx, end="")
    ixx+=1

.....50.....100.....150.

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(respon_list)

fitur = vectorizer.get_feature_names()

In [16]:
from sklearn.cluster import KMeans
import numpy as np

kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
new_labels =  kmeans.labels_
y = new_labels
len(y)

161

In [17]:
dit_ ={
    'res-id':res_id,
#     'label':label,
    'new_label': y,
    'skor1':skor1,
    'skor2':skor2,
    'aes':aes,
    'respon_old':respon,
    'respon':respon_list
}
h = pd.DataFrame.from_dict(dit_)
h.to_excel('data/Data_B_Bersih_2.xlsx')
h.head()

,res-id,new_label,skor1,skor2,aes,respon_old,respon
0,TRACK2A1,1,1,0.0,0,penggusi iklim adalah orang orang yang terpaks...,pengungsi iklim adalah orang orang yang terpak...
1,TRACK2A2,0,1,0.0,1,dengan sabar menjalani nya.,dengan sabar menjalani nya
2,TRACK2A3,1,1,0.0,0,Orang orang yang terpaksa meninggalkan komunit...,orang orang yang terpaksa meninggalkan komunit...
3,TRACK2A4,0,0,1.0,1,berkenalan dengan orang asing/baru,berkenalan dengan orang asing baru
4,TRACK2A5,0,1,0.0,0,agar tidak terkena bencana lagi dan terhindar ...,agar tidak terkena bencana lagi dan terhindar ...